[Unit]
Description=cyberpot
Requires=docker.service
After=docker.service

[Service]
Restart=always
RestartSec=5
TimeoutSec=infinity

# Get and set internal, external IP infos, but ignore errors
ExecStartPre=-/opt/cyberpot/bin/updateip.sh

# Clear state or if persistence is enabled rotate and compress logs from /data
ExecStartPre=-/bin/bash -c '/opt/cyberpot/bin/clean.sh on'

# Remove old containers, images and volumes
ExecStartPre=/opt/cyberpot/bin/tpdclean.sh -y

# Get IF, disable offloading, enable promiscious mode for p0f and suricata
ExecStartPre=-/bin/bash -c '/sbin/ethtool --offload $(/sbin/ip address | grep "^2: " | awk \'{ print $2 }\' | tr -d [:punct:]) rx off tx off'
ExecStartPre=/bin/bash -c '/sbin/ethtool -K $(/sbin/ip address | grep "^2: " | awk \'{ print $2 }\' | tr -d [:punct:]) gso off gro off'
ExecStartPre=/bin/bash -c '/sbin/ip link set $(/sbin/ip address | grep "^2: " | awk \'{ print $2 }\' | tr -d [:punct:]) promisc on'

# Set iptables accept rules to avoid forwarding to honeytrap / NFQUEUE
# Forward all other connections to honeytrap / NFQUEUE
ExecStartPre=/opt/cyberpot/bin/rules.sh /opt/cyberpot/etc/cyberpot.yml set

# Compose CyberPot up
ExecStart=/usr/bin/docker-compose -f /opt/cyberpot/etc/cyberpot.yml up --no-color

# We want to see true source for UDP packets in container (https://github.com/moby/libnetwork/issues/1994)
ExecStartPost=/bin/bash -c '/usr/bin/sleep 30 && /usr/sbin/conntrack -D -p udp'

# Compose CyberPot down, remove containers and volumes
ExecStop=/usr/bin/docker-compose -f /opt/cyberpot/etc/cyberpot.yml down -v

# Remove only previously set iptables rules
ExecStopPost=/opt/cyberpot/bin/rules.sh /opt/cyberpot/etc/cyberpot.yml unset

[Install]
WantedBy=multi-user.target
